In [6]:
import pandas as pd
df=pd.read_csv('Outlier_cleaned_wine.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1275 entries, 0 to 1274
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1275 non-null   float64
 1   volatile acidity      1275 non-null   float64
 2   citric acid           1275 non-null   float64
 3   residual sugar        1275 non-null   float64
 4   chlorides             1275 non-null   float64
 5   free sulfur dioxide   1275 non-null   float64
 6   total sulfur dioxide  1275 non-null   float64
 7   density               1275 non-null   float64
 8   pH                    1275 non-null   float64
 9   sulphates             1275 non-null   float64
 10  alcohol               1275 non-null   float64
 11  quality               1275 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 119.7 KB

In [8]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [9]:
X=df.drop('quality',axis=1)

In [10]:
y=df['quality']

In [11]:
X.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [12]:
y.head()

0    5
1    5
2    5
3    6
4    5
Name: quality, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [14]:
X_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1190,7.5,0.725,0.04,1.5,0.076,8.0,15.0,0.99508,3.26,0.53,9.6
812,7.4,0.965,0.00,2.2,0.088,16.0,32.0,0.99756,3.58,0.67,10.2
894,7.3,0.400,0.30,1.7,0.080,33.0,79.0,0.99690,3.41,0.65,9.5
1102,6.4,0.570,0.14,3.9,0.070,27.0,73.0,0.99669,3.32,0.48,9.2
273,12.6,0.380,0.66,2.6,0.088,10.0,41.0,1.00100,3.17,0.68,9.8
...,...,...,...,...,...,...,...,...,...,...,...
1044,6.5,0.520,0.11,1.8,0.073,13.0,38.0,0.99550,3.34,0.52,9.3
1095,7.4,0.640,0.07,1.8,0.100,8.0,23.0,0.99610,3.30,0.58,9.6
1130,7.9,0.180,0.40,2.2,0.049,38.0,67.0,0.99600,3.33,0.93,11.3
860,6.1,0.480,0.09,1.7,0.078,18.0,30.0,0.99402,3.45,0.54,11.2
1126,8.3,0.260,0.37,1.4,0.076,8.0,23.0,0.99740,3.26,0.70,9.6

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
scaler=StandardScaler()

In [17]:
X_train_transform=scaler.fit_transform(X_train)

In [18]:
X_test_transform=scaler.transform(X_test)

In [19]:
print(scaler.mean_)

[ 8.14063232  0.53084895  0.24462529  2.19683841  0.07729742 14.78103044
 41.51639344  0.99648014  3.32665105  0.62836066 10.43370414]

In [20]:
from sklearn.svm import SVC
model=SVC()

In [21]:
model.fit(X_train_transform,y_train)

SVC()

In [22]:
y_predict=model.predict(X_test_transform)

In [23]:
from sklearn.metrics import accuracy_score

In [24]:
accuracy_score(y_test,y_predict)

0.6365795724465558

In [27]:
# Applying Grid Search to find the best model and the best parameters
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
parameters = [{'C': [1, 10, 100, 1000], 'kernel': ['linear']},
              {'C': [1, 10, 100, 1000], 'kernel': ['rbf'], 'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]}]
grid_search = GridSearchCV(estimator = model,
                           param_grid = parameters,
                           scoring = 'accuracy',
                           cv = 10,
                           n_jobs = -1)
grid_search = grid_search.fit(X_train_transform, y_train)

C:\Users\Acer\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:670: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"

In [28]:
accuracy = grid_search.best_score_
accuracy

0.6498632010943912

In [29]:
grid_search.best_params_

{'C': 1, 'gamma': 0.5, 'kernel': 'rbf'}

In [30]:
classifier = SVC(kernel = 'rbf', gamma=0.7)
classifier.fit(X_train_transform, y_train)

SVC(gamma=0.7)

In [31]:
# Predicting the Test set results
y_pred = classifier.predict(X_test_transform)

In [33]:
accuracy_score(y_test,y_pred)

0.6484560570071259